<footer class="bg-dark text-light py-3 mt-5">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-6 mb-4 mb-md-0">
        <h4>StudyTime Alert</h4>
        <p>Tu alarma, tu tiempo</p>
      </div>

      <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
        <h6 class="text-uppercase">Desarrollado por:</h6>
        <ul class="list-unstyled">
          <li><a href="#" class="text-light">Juan Camilo Ramirez</a></li>
          <li><a href="#" class="text-light">Alberto Alvarez</a></li>
        </ul>
      </div>

      <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
        <h6 class="text-uppercase">Contacto</h6>
        <ul class="list-unstyled">
          <li>Email: jc.ramirezg12@uniandes.com</li>
          <li>Email: Alberto.alvarez@uniandes.com</li>
          <li><a href="#" class="text-light">Miso Uniandes</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>