<div class="container">
  <div class="d-flex pt-5">
    <h3 class="pe-3">Alarmas </h3>
    <button class="btn custom-btn">
      <i class="fas fa-plus"></i> Crear Alarma
    </button>
    <button type="button" class="btn"><i class="fa-solid fa-chevron-left"></i></button>
    <button type="button" class="btn"><i class="fa-solid fa-chevron-right"></i></button>
  </div>

  <div class="row">
    <!-- Primera columna -->
    <div class="col-md-4">
      <!-- Contenido del primer ítem -->
      <app-alarm-item></app-alarm-item>
    </div>

    <!-- Segunda columna -->
    <div class="col-md-4">
      <!-- Contenido del segundo ítem -->
      <app-alarm-item></app-alarm-item>
    </div>

    <!-- Tercera columna -->
    <div class="col-md-4">
      <!-- Contenido del tercer ítem -->
      <app-alarm-item></app-alarm-item>
    </div>
    <!-- Primera columna -->
    <div class="col-md-4">
      <!-- Contenido del primer ítem -->
      <app-alarm-item></app-alarm-item>
    </div>

    <!-- Segunda columna -->
    <div class="col-md-4">
      <!-- Contenido del segundo ítem -->
      <app-alarm-item></app-alarm-item>
    </div>

    <!-- Tercera columna -->
    <div class="col-md-4">
      <!-- Contenido del tercer ítem -->
      <app-alarm-item></app-alarm-item>
    </div>
  </div>

  <div class="d-flex pt-5">
    <h3 class="pe-3">Rutinas </h3>
    <button class="btn custom-btn">
      <i class="fas fa-plus"></i> Crear Rutina
    </button>
    <button type="button" class="btn"><i class="fa-solid fa-chevron-left"></i></button>
    <button type="button" class="btn"><i class="fa-solid fa-chevron-right"></i></button>
  </div>

  <div class="row">
    <!-- Primera columna -->
    <div class="col-md-4">
      <!-- Contenido del primer ítem -->
      <app-rutina-item></app-rutina-item>
    </div>

    <!-- Segunda columna -->
    <div class="col-md-4">
      <!-- Contenido del segundo ítem -->
      <app-rutina-item></app-rutina-item>
    </div>
  </div>

</div>