<div class="container">
  <div class="d-flex pt-5">
    <h3 class="pe-3">Alarmas </h3>
    <button class="btn custom-btn">
      <i class="fas fa-plus"></i> Crear Alarma
    </button>
    <button type="button" class="btn"><i class="fa-solid fa-chevron-left"></i></button>
    <button type="button" class="btn"><i class="fa-solid fa-chevron-right"></i></button>
  </div>

  <div class="row mt-4">
    <!-- Primera columna -->
    <div class="col-md-4">
      <!-- Contenido del primer ítem -->
      <app-alarm-item></app-alarm-item>
    </div>

    <!-- Segunda columna -->
    <div class="col-md-4">
      <!-- Contenido del segundo ítem -->
      <app-alarm-item></app-alarm-item>
    </div>

    <!-- Tercera columna -->
    <div class="col-md-4">
      <!-- Contenido del tercer ítem -->
      <app-alarm-item></app-alarm-item>
    </div>
    <!-- Primera columna -->
    <div class="col-md-4">
      <!-- Contenido del primer ítem -->
      <app-alarm-item></app-alarm-item>
    </div>

    <!-- Segunda columna -->
    <div class="col-md-4">
      <!-- Contenido del segundo ítem -->
      <app-alarm-item></app-alarm-item>
    </div>

    <!-- Tercera columna -->
    <div class="col-md-4">
      <!-- Contenido del tercer ítem -->
      <app-alarm-item></app-alarm-item>
    </div>
  </div>

  <div class="d-flex pt-5">
    <h3 class="pe-3">Rutinas </h3>
    <button class="btn custom-btn">
      <i class="fas fa-plus"></i> Crear Rutina
    </button>
    <button type="button" class="btn"><i class="fa-solid fa-chevron-left"></i></button>
    <button type="button" class="btn"><i class="fa-solid fa-chevron-right"></i></button>
  </div>

  <div class="row mt-4">
    <!-- Primera columna -->
    <div class="col-md-4">
      <!-- Contenido del primer ítem -->
      <app-rutina-item></app-rutina-item>
    </div>

    <!-- Segunda columna -->
    <div class="col-md-4">
      <!-- Contenido del segundo ítem -->
      <app-rutina-item></app-rutina-item>
    </div>
    <div class="col-md-4">
      <!-- Contenido del segundo ítem -->
      <div class="card bg-p-ligth">
        <div class="card-body">
          <div class="row align-items-center">
            <!-- Lado izquierdo: Título y Botón -->
            <div class="col-8 ">
              <h5 class="card-title ">Sesión de Estudio</h5>
              <button class="btn custom-btn mt-3">
                <i class="fas fa-plus"></i> Iniciar sesión de estudio
              </button>
            </div>
            <!-- Lado derecho: Ícono grande -->
            <div class="col-md-4 text-right">
              <i class="fas fa-icono-grande fa-3x"><i class="fa-solid fa-book-open-reader"></i></i>
              <!-- Reemplaza 'fa-icono-grande' con el ícono que desees de Font Awesome -->
            </div>
          </div>
        </div>
      </div>

      <div class="card bg-s-ligth mt-4">
        <div class="card-body">
          <div class="row align-items-center">
            <!-- Lado izquierdo: Título y Botón -->
            <div class="col-8 ">
              <h5 class="card-title ">Calendario</h5>
              <button class="btn custom-btn-2 mt-3">
                <i class="fas fa-plus"></i> Conectar con Calendario
              </button>
            </div>
            <!-- Lado derecho: Ícono grande -->
            <div class="col-md-4 text-right">
              <i class="fas fa-icono-grande fa-3x"><i class="fa-regular fa-calendar-days"></i></i>
              <!-- Reemplaza 'fa-icono-grande' con el ícono que desees de Font Awesome -->
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>

</div>