// Custom Theming for Angular Material
@use '@angular/material' as mat;

// Include the common styles for Angular Material.
@include mat.core();

// Define the palettes for your theme using the Material Design palettes
$alarmaWeb-primary: mat.define-palette(mat.$yellow-palette);  // Cambiado a amarillo
$alarmaWeb-accent: mat.define-palette(mat.$amber-palette, A200, A100, A400);  // Amber es una variante amarilla

// The warn palette is optional (defaults to red).
$alarmaWeb-warn: mat.define-palette(mat.$red-palette);

// Create the theme object.
$alarmaWeb-theme: mat.define-light-theme((
  color: (
    primary: $alarmaWeb-primary,
    accent: $alarmaWeb-accent,
    warn: $alarmaWeb-warn,
  )
));

// Include theme styles for core and each component used in your app.
@include mat.all-component-themes($alarmaWeb-theme);

/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


$color-principal: #d6f491;
$color-secundario: #c6d1fb;


.bg-p-ligth {
  background-color: lighten($color-principal, 20%);

}
.bg-s-ligth {
  background-color: lighten($color-secundario, 11%);
}



// cambir colores del timepicker
.timepicker__header {
  background-color: $color-principal !important;

}
.timepicker-dial__item{
  color: #575555 !important;
}
.timepicker-dial__item_active {
  color: #000 !important;
}
.clock-face__number >  span.active{
  background-color: #fff !important;
  color:#000 !important;
}
.timepicker-button{
 color: darken($color-principal, 35%) !important;
}

.timepicker-dial__time{
  color: #000000 !important;
}

.ngx-timepicker-clock__item {
  color: #000 !important;
}
.ngx-timepicker-clock__hand {
  background-color: #000 !important;
}
